body {
    background-color: RGB(250, 219, 216)
}

h1 {
    color: RGB(205, 92, 92);
    margin-left: 0px;
    font-family: "Verdana",sans-serif;
}
h2 {
    color: RGB(240, 128, 128);
    margin-left: 10px;
    font-family: "Verdana",sans-serif;
}
h3 {
    color: RGB(250, 128, 114);
    margin-left: 20px;
    font-family: "Verdana",sans-serif;
}
h4 {
    color: RGB(233, 150, 122);
    margin-left: 30px;
    font-family:  "Verdana",sans-serif;
}
h5 {
    color: RGB(255, 160, 122);
    margin-left: 40px;
    font-family: "Verdana",sans-serif;
}
h6 {
    color: RGB(245, 183, 177);
    margin-left: 50px;
    font-family: "Verdana",sans-serif;
}
p {
    color: RGB(187, 143, 206);
    font-family: "Verdana",sans-serif;
}
